#cards {
    display: flex;
    flex-wrap: wrap;
  }

    .card {
    flex: 7% 0 1; /* 每個 item 分配容器寬度 */
    height: 8vw; /* 依視窗的寬度等比例變化 */
    border: 2px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3px;
    font-size: 10px;
    margin: 2px; /* 卡片邊距 */
    box-sizing: border-box; /* 設定 box-sizing*/
  }
  .card p:last-child {
    transform: rotate(180deg);
  }
  .card img {
    max-width: 30%;
    align-self: center;
  }

  .back {
    background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
    background-size: cover;
}
.paired {
  background-color: #dae0e3;
}
